{% extends "blog/base.html" %}
{% block content %}
<body>
   <div class="card text-center">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">My Name is Mohammed Noman Razvi. I built this website using famous python framework
    <br> DJANGO. <br> To get the code of this site click <a href=""> here</a><br> I socialize on </p>
      
  </div>
  <div class="card-footer text-muted">
    <a href="https://www.facebook.com/noumanrazvi.shaik" class="fa fa-facebook"></a>
    &nbsp;
    <a href="https://github.com/noman55" class="fa fa-github"></a>

  </div>
</div>
   </div>

</body>


{% endblock content %}
